.step-content.is-active
  .title=t("pages.shared.start_goal_path")
  .subtitle
    .subtitle__image
      =image_tag 'time-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      =t("pages.shared.period")
  .text=t("pages.shared.cicle_month_number_recomendation")
  .timeframe
    .select
      = f.date_field(:start_time)
    %p=t("generic.to_particle")
    .select
      = f.date_field(:end_time)
  .linear__separator.extended

  .goal__container.not__margin--bottom
    .subtitle
      .subtitle__image
        =image_tag 'circle-icon.svg'
      .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
        =t("pages.shared.path")
    .select__container
      %b=t("pages.shared.select_category")
      .select

        = select_tag(:category_id, options_for_select(categories_data.map { |category| [t("activerecord.categories.#{category[0]}"), category[1]] }, category_id))
      = link_to(t("pages.links.see_details"), '#', class: 'reddish text--small')
    .select__container
      %b=t("pages.shared.select_track")
      .select
        = select_tag(:track_id, options_for_select(track_data, track_id))
      .linear__separator.extended
    .select__container
      %b=t("generic.milestone")
      .select
        = f.select(:milestone_id, options_for_select(milestone_data, @goal&.milestone_id))
      .linear__separator.extended
    .subtitle
      .subtitle__image
        =image_tag 'advisors-icon.svg'
      .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
        =t("generic.mentors")
    .select__container
      %b=t("pages.shared.select_mentor")
      .select
        = f.select(:mentor_id, options_for_select(@mentors.collect{ |mentor| [mentor.first_name, mentor.id] }, @goal&.mentor_id))
      .linear__separator.extended
