.column.desktop--container
  = form_for @goal do |f|
    .steps#stepsDemo
      .steps-content
        = render partial: 'shared/milestone_wizard', locals: { f: f }
        = f.fields_for :objective, @goal.objective do |objective_form|
          = render partial: 'shared/objective_wizard', locals: { objective_form: objective_form }
          - if editable
            = render partial: 'edit_key_results_form', locals: { objective_form: objective_form }
          - else
            = render partial: 'shared/key_results_wizard', locals: { objective_form: objective_form }
          .wizard__container
            .wizard__step.step-item.is-active
              .wizard__step--circle
              %span=t("generic.milestone")
            .wizard__step.step-item
              .wizard__step--circle
              %span=t("generic.objective")
            .wizard__step.step-item.completed
              .wizard__step--circle
              %span=t("generic.key_result")
          .steps-actions.buttons__container
            = link_to('Previo', root_path, class: 'button button__color--reddish button__border--reddish button--small button--prev steps-action', 'data-nav' => 'previous')
            = link_to('Siguiente', '#', class: 'button button__filled--reddish button--small steps-action button--next', 'data-nav' => 'next')
            = f.submit('Crear', class: 'button button__color--reddish button__border--reddish button--small steps-action button--done hidden')

:javascript
  $(document).ready( function() {
    Egf.bulmaAccordion.attach();
    Egf.bulmaSteps.attach();
    new Egf.DependentSelect().dependentSelect();
    new Egf.Wizard().enableWizardButton();
  });
