= form_for :goal do |f|
  .goals__container.column
    .title Start goals
    .subtitle__container
      .subtitle
        =image_tag 'time-icon.svg'
        .text Time Frame
      %p We recommend 6 months for each cycle.
    .timeframe
      .select
        = date_field(:timeframe, :datepicker_from)
      %p to
      .select
        = date_field(:timeframe, :datepicker_to)
    .linear__separator

    .goal__container.not__margin--bottom
      .subtitle__container
        .subtitle
          =image_tag 'circle-icon.svg'
          .text Path 1
      .select__container
        %b Select Category
        .select
          = select_tag 'category_id', options_for_select(@categories.collect{ |category| [category.name, category.id] })
        = link_to('See details', '#', class: 'reddish text--small')
      .select__container
        %b Select Track
        .select
          = select_tag 'track_id', options_for_select(@tracks.collect{ |track| [track.name, track.id] })
        .linear__separator

    .goal__container--tasks
      .subtitle__container
        .subtitle
          =image_tag 'tasks-icon.svg'
          .text Tasks
        %p We recommend to have at least 2 to 3 tasks per cycle
      .create__task
        %b Create task
        = text_area_tag 'task-textarea', "Describe task", class: 'textarea', size: "10x3"
      = link_to('Add task', new_goal_path, class: 'button button--small')

    .goal__container--no-tasks.concrete
      %b Current tasks
      %p There is no task created yet.
  .buttons__container
    = link_to('Cancel', new_goal_path, class: 'button button--reddish button--small')
    = link_to('Done', new_goal_path, class: 'button button--alto-filled button--small')