%section.step__content
  .subtitle
    .subtitle__image
      = image_tag 'flag-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      Meta principal
  .text
    = milestone.description

  .subtitle
    .subtitle__image
      = image_tag 'behaviors-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      Ejemplos de objetivos(OKRs)
  %ul.resources__list
    %li.resources__element Entrega de features simples modificados localmente
    %li.resources__element Agrega acciones simples a diferentes endpoints
    %li.resources__element Reusa componentes existentes correctamente

  .subtitle
    .subtitle__image
      = image_tag 'behaviors-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      Ejemplos de key results:
  %ul.resources__list
    %li.resources__element Reutilizar un botón existente en una app iOS diferente
    %li.resources__element Agregar botón de seguimiento para publicaciones en Android
    %li.resources__element Obtener y visualizar una nueva secuencia, usando estilos de secuencia existentes

  .subtitle
    .subtitle__image
      = image_tag 'resources-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      Recursos útiles
  %ul.resources__list
    %li.resources__element.reddish= "link-1-resource.com"
    %li.resources__element.reddish= "link-2-ruby-resource.com"
    %li.resources__element.reddish= "link-3—nice-resource.com"
    %li.resources__element.reddish= "link-4-not-bad-resource.com"

  .linear__separator

  .subtitle
    .subtitle__image
      = image_tag 'advisors-icon.svg'
    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
      Mentores
  .text
    Porfavor contacta a las siguientes personas si necesitas algún consejo en tu trayectoria
