%section.tab__content
  .level--info
    .track--info
      .subtitle__text.subtitle__text--medium
        = track.name.titleize
      .text
        = track.description
    .linear__separator.desktop
    .steps__container.desktop
      .subtitle.subtitle--levels
        .subtitle__text.subtitle__text--medium
          Niveles
      = render partial: 'levels', locals: { track: track }
      %div
        - track.milestones.each do |milestone|
          = render partial: 'milestone', locals: { milestone: milestone }

  .linear__separator.mobile

  .subtitle.mobile
    .subtitle__text.subtitle__text--medium
      Niveles

  .steps__container
    = render partial: 'levels', locals: { track: track }

    %div
      - track.milestones.each do |milestone|
        = render partial: 'milestone', locals: { milestone: milestone }

  = render partial: 'mentors'
  = link_to('Comenzar un nuevo trayecto',
              new_goal_path,
              class: 'button button__filled--reddish button--large button--category')
