.main__container.column
  .title
    = @category.name.titleize
  .tabs__container
    .tabs.is-centered.is-toggle.is-small
      %ul
        - @category.tracks.each_with_index do |track, index|
          %li.tabs__element{ class: ("is-active" if index.eql?(0)) }
            %a.tabs__element__link
              = track.name.titleize

    %div
      - @category.tracks.each do |track|
        %section.tab__content
          .subtitle__text.subtitle__text--medium
            = track.name.titleize
          .text
            = track.description

          .linear__separator

          .subtitle
            .subtitle__text.subtitle__text--medium
              Levels

          .steps__container
            .levels
              - track.milestones.each_with_index do |milestone, index|
                .steps__item.steps__item--completed
                  .steps__marker{ class: ("steps__marker--active" if index.eql?(0)) }
                    = milestone.level

            %div
              - track.milestones.each do |milestone|
                %section.step__content
                  .subtitle
                    .subtitle__image
                      = image_tag 'flag-icon.svg'
                    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
                      = "Main goal"
                  .text
                    = milestone.description

                  .subtitle
                    .subtitle__image
                      = image_tag 'behaviors-icon.svg'
                    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
                      = "Example behaviors:"
                  %ul.resources__list
                    %li.resources__element= "Delivers features requiring simple local modifications."
                    %li.resources__element= "Adds simple actions that call server endpoints."
                    %li.resources__element= "Reuses existing components appropriately."

                  .subtitle
                    .subtitle__image
                      = image_tag 'behaviors-icon.svg'
                    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
                      = "Example tasks:"
                  %ul.resources__list
                    %li.resources__element= "Added existing button to a different iOS surface."
                    %li.resources__element= "Add follow button for publications on Android."
                    %li.resources__element= "Fetched and displayed a new stream, using existing stream item styles."

                  .subtitle
                    .subtitle__image
                      = image_tag 'resources-icon.svg'
                    .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
                      = "Useful resources"
                  %ul.resources__list
                    %li.resources__element= "link-1-resource.com"
                    %li.resources__element= "link-2ruby-resource.com"
                    %li.resources__element= "link-3—nice-resource.com"
                    %li.resources__element= "link-4-not-bad-resource.com"

          .linear__separator

          .subtitle
            .subtitle__image
              = image_tag 'advisors-icon.svg'
            .subtitle__text.subtitle__text--medium.subtitle__text__with_icon
              = "Mentors"
          .text
            = "Please contact the following people if you need some advice on your path."

          .cards__container
            .card
              .card__photo
              .card__name
              .card__level

= render partial: 'layouts/footer'

:javascript
  $(document).ready( function() {
    new Egf.BulmaTabs().init();
    new Egf.StepTabs().init();
  });
