.header__container
  .navbar
    .navbar__brand.column
      =link_to(image_tag('michelada_icon.svg'), root_path)
      .app__name
        EGF
    - if current_user
      .navbar__items.column
        = link_to(category_path("building"), class: "flex item #{active_class('categories')}") do
          =image_tag(navbar_icon("categories"), class: "navbar__item__image")
          %span.desktop Información
        = link_to(new_goal_path, class: "flex item #{active_class('goals')}") do
          =image_tag(navbar_icon("goals"), class: "navbar__item__image")
          %span.desktop Mis objetivos
        = link_to(signout_path, class: "flex item item--concrete", method: :delete) do
          =image_tag(navbar_icon("logout"), class: "navbar__item__image")
          %span.desktop Cerrar sesión
        .line
          |
        .profile.mobile
          = link_to(achievements_path) do
            =image_tag(current_user.image_url, class: "navbar__item__image")
        .profile.desktop
          = link_to(category_path("building")) do
            =image_tag(current_user.image_url, class: "navbar__item__image")
