!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title EgfApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{ name: 'viewport', content: 'initial-scale=1'}/
  %body
    = render partial: 'layouts/header'
    .body__container.columns
      .main__container.column
        = flash_messages
        = yield

:javascript
  $(document).ready( function() {
    new Egf.Modal().closeModal();
  });